@import "./styles/variables";
@import "./styles/mixins";

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div .card {
  border: none;
}

div .card-footer {
  background-color: white;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
}

div .card-body {
  padding-left: 35px;
  padding-right: 35px;
}

div.card-text__bartitle {
  font-size: 20px;
  font-weight: 500;
}

.badge {
  height: 18px !important;
  width: 18px !important;
}
