@import "./styles/variables";
@import "./styles/mixins";

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div .card {
  border: none;
}

div .card-footer {
  background-color: white;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
}

div .card-body {
  padding-left: 35px;
}

div.card-text__bartitle {
  font-size: 20px;
  font-weight: 600;
}

.badge {
  height: 18px !important;
  width: 18px !important;
}

div .popover-body {
  background-color: #0e3a87;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  font-size: 20px;
}

div.card-footer__buttons {
  border-top: 1px solid $border;
  padding-right: 35px;
}

button.Button__Cancel {
  width: 100%;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

button.Button__Save {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

img.question__image {
  height: 30px;
  width: 35px;
}

.bs-popover-bottom > .arrow::after,
.bs-popover-auto[x-placement^="bottom"] > .arrow::after {
  border-bottom-color: #0e3a87 !important;
}
